@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*TODO(oliver): Lazy loading*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display SC', serif;
    box-sizing: border-box;
    max-width: 100vw;
    font-size: var(---font-size-5);
    scroll-behavior: smooth;
}
:root {
    ---font-size-5:calc(15px + 0.390625vw);
    --site-margin-x: 5rem;
    --site-margin-y: calc((var(--site-margin-x) / 2));
    --bento-gap: 1vw;
    --bento-wrapper-padding-y: 10rem;
    --a-padding-x: 1rem;
    --a-padding-y: 0.4rem;
    --a-border-radius: 3rem;
}
::-webkit-scrollbar{
    display: none;
}

h2{
    font-size: calc(var(---font-size-5) * 1.5);
}
h1{
    font-size: calc(var(---font-size-5) * 2);
}
h3{
    font-size: calc(var(---font-size-5) * 1.2);
}
.hero-cta h3, .showcaseroom h3{
    font-weight: normal;
}
a {
    color: inherit;
    text-transform: capitalize;
    text-decoration: underline;
}

.hero-logo img, .available-logo img{
    max-width: 75vw;
}
.hero {
    height: 100lvh;
    position: relative;
    background-image: url('./assets/testbg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero-cta{
    text-align: center;
}
.benefits>section {
    min-height: 100lvh;
    display: flex;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.benefit-wrapper{
    position: relative;
    gap: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    margin-left: var(--site-margin-x);
    margin-right: var(--site-margin-x);
    margin-top: var(--site-margin-y);
    margin-bottom: var(--site-margin-y);
}
.benefit-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 3rem;
}
.benefit-text>h2 {
    z-index: 999;
}
.benefit-text>p{
    max-width: 30ch;
    line-height: 1.7;
    font-family: 'Playfair Display', serif;
    z-index: 999;
}

.benefit-text>a{
    position: relative;
    z-index: 9999;
    color: #D9D9D9;
    padding-left: var(--a-padding-x);
    padding-right: var(--a-padding-x);
    padding-top: var(--a-padding-y);
    padding-bottom: var(--a-padding-y);
    background-color: black;
    border-radius: var(--a-border-radius);
    text-align: center;
}

.benefits-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    mix-blend-mode: luminosity;
    border-radius: 3rem;
}
.benefit-modern{
    background-image: url('./assets/imgs/modernbg2.png');
    background-attachment: fixed;;
}
.benefit-affordable {
    background-image: url('./assets/imgs/megfizethetobg.png');
    background-attachment: fixed;;

}
.benefit-trustworthy {
    background-image: url('./assets/imgs/megbizhatobg.png');
    background-attachment: fixed;;
}
.benefit-img {
    z-index: 999;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.benefit-img>img{
    border-radius: 3rem;
}
.benefit-img>img, .benefit-text{
    max-height: 55vh;
    min-height: max-content;
}
.benefits>:nth-child(odd) .benefit-text{
    align-items: flex-end;
    text-align: right;
}
.benefits>:nth-child(even) .benefit-text{
    align-items: flex-start;
    text-align: left;
}

@media screen and (max-width: 1085px) {
   .benefit-wrapper{
        flex-direction: column;
    }
    .benefit-img{
        display: block;
    }
    .benefit-img img{
        display: block;
        margin: 0 auto;
    }
}
.features{
    background-image: url('./assets/imgs/try.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100lvh;
    background-attachment: fixed;;

}
.features>section{
    width: 100%;
}
.feature-bento {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: var(--bento-gap);
    margin-left: var(--site-margin-x);
    margin-right: var(--site-margin-x);
    justify-content: center;
}
.hungary-text{
    grid-column: 1 / 8;
}
.delivery-logo{
    grid-column: 1 / 2;
}
.delivery-text{
    grid-column: 2 / 9;
}
.delivery-logo,.delivery-text{
    grid-row: 2;
}
.feature-bento>.bento-row>div{
    border-radius: 2rem;
}

.hungary-text, .delivery-text{
    text-align: center;
    word-spacing: 1rem;
    min-width: 10rem;
}

.delivery-logo, .hungary-logo {
    min-width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery-logo img, .hungary-logo img, .delivery-logo, .hungary-logo{
    max-width: 5rem;
    border-radius: 1rem;
}
.hungary-logo {
    position: relative;
}
.hungary-mask-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.h-logo{
    z-index: 999;
}
.feature-bento-wrapper {
    padding-top: var(--bento-wrapper-padding-y);
    padding-bottom: var(--bento-wrapper-padding-y);
    text-align: center;
}

.feature-bento>div:not(.hungary-logo), .hungary-mask-overlay {
    mix-blend-mode: difference;
    background-color: #B18C6C;
    border-radius: 2rem;
}
.feature-bento p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 500px) {
    :root{
        --site-margin-x:1rem;
    }
  .feature-bento {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
  .hungary-text{
    grid-column: 1 / 3;
}
  .hungary-logo{
    grid-column: 1 / 2;
}
.hungary-logo,.delivery-logo{
    /* justify-self: center; */
    max-width: 100% !important;
}
  .delivery-logo{
    grid-column: 2 / 3;
}
  .delivery-text{
    grid-column: 1 / 3;
    grid-row: 3;
}
    .benefits>section:last-child .benefit-img{
        order: 2;
    }
}

.services-hero{
    background-image: url('./assets/imgs/szolgaltatasainkbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-text-container{
    line-height: 2;
    text-align: center;
}
.services-section{
    min-height: 100lvh;
    text-align: center;
    background-image: url('./assets/imgs/szolgbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-attachment: fixed;;
    display: flex;
    justify-content: center;
    padding-left: var(--site-margin-x);
    padding-right: var(--site-margin-x);
}
.service-img{
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-img a{
    display: block;
}
.service-img img{
    max-width: 100%;
    display: block;
    box-shadow: 1px 1px 3px black;
    border-radius: 1rem;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 25%));
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    position: relative;
    row-gap: 1rem;
}
.service-grid-header,
.services-grid-cta,
.service-item a,
.service-item p
{
    position: relative;
    z-index: 999;
}
.services-grid a{
    font-size: 0.65rem;
    display: block;
}
.header-wrapper{
    grid-column: span 2;
}
.service-grid-header h2{
    font-size: calc(var(---font-size-5));
}
.service-grid-header h2,
.services-grid-cta{
    text-align: left;
}
.service-grid-header{
    max-width: 35ch;
}
.header-wrapper h2{
    font-size: 2rem;
}
.header-wrapper a{
    font-size: calc(var(---font-size-5) * 0.7);
    color: #D9D9D9;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    background-color: black;
    border-bottom-right-radius: 1rem;
    font-family: 'Playfair Display', serif;
    text-transform: none;
}
.item-wrapper{
    max-width: 50%;
}
.services-grid-overlay{
    position: absolute;
    inset: 0;
    mix-blend-mode: luminosity;
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}
@media screen and (max-width: 930px) {
    .services-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
    .item-wrapper{
       max-width: 95%;
    }
    .header-wrapper h2{
        font-size: 2em;
    }
    .header-wrapper a{
        font-size: 0.8rem;
    }
    .item-wrapper a{
        font-size: 0.7em;
    }
}
.availability {
    min-height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}
.availability-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
}
.available-logo{
    display: flex;
    justify-content: center;
}
.socials>a>img{
    height: 100%;
    width: 100%;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.availability a{
    display: block;
}
.showcaseroom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.socials>a{
    height: 3rem;
}
.phone-numbers{
    text-align: left;
}
.phone-numbers>p:not(.phone-numbers>p:last-child){
    margin-bottom: 2rem;
}
.showcaseroom a{
    text-transform: lowercase;
}
.showcaseroom :first-child{
    margin-bottom: 0.5rem;
}